// fonts
$font-Raleway: "Raleway", sans-serif;
$font-Manrope: "Manrope", sans-serif;
$font-Inter: "Inter", sans-serif;
$font-Gilroy: "Gilroy", sans-serif;
$font-DisruptorsScript: "Disruptors Script", sans-serif;
$font-Playfair-Display: "Playfair Display", sans-serif;
// fonts

// colors
$color-white: #FFFFFF;
$color-pink: #DD55BF;
// colors
