.header {
  border-bottom: 3px solid $color-pink;
  padding: 8px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_logo {
    width: 80px;
    height: 80px;
    display: flex;
    flex-shrink: 0;

    img {
      width: 100%;
    }
  }

  &_link {
    display: flex;
    align-items: center;
    gap: 40rem;

    @include media('md') {
      display: none;
    }

    a {
      font-weight: 500;
      font-size: 18rem;
      line-height: 100%;
      color: $color-black;
    }
  }

  .pink_btn {
    width: 200rem;
  }
}
